*.json
*.ico
*.scss
*.js
polyfills.ts
main.ts
test.ts
declarations.d.ts
esriShim.ts
/app/tab1/tab1.module.ts
/app/tab1/*.spec.ts
/app/*.ts
/app/tab2
/app/tab3
/app/tabs
/app/*.html
/assets
/theme
service-worker.js
/pages/about
/pages/contact
/pages/tabs
/environments
logo.png
